/* button & input styles */

.active-shows .button {
  width: 48%;

  @include bp(pawn) {
    width: 150px;
  }
}

.button {
  padding: 5px 0;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  outline: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Ubuntu', sans-serif;

  @include bp(pawn) {
    padding: 11px 0;
  }
}

.button[disabled="disabled"] {
  cursor: not-allowed;
}

.button:hover {
  outline: 0;
}

/*
*   Add
*/

.button-add {
  background-color: #5CA6BF;
  box-shadow: 0 2px 0 0 #478194;
  color: #fff;
  float: left;

  @include bp(pawn) {
    float: none;;
  }
}

.button-add:hover {
  background-color: #65BAD6;
}

.button-add:active {
  background-color: #569BB3;
  border-bottom: 0;
  box-shadow:inset 0 2px 0 0 #478194;
}

.button-add[disabled="disabled"] {
  background-color: #8FBBC9;
  color: #DAE8ED;
  text-shadow: none;
  box-shadow: none;
}

/*
*   Clear Tracks
*/

.button-clear {
  float: right;
  background-color: #D65469;
  color: #fff;
  box-shadow: 0 2px 0 0 #AB4354;

  @include bp(pawn) {
    float: none;
    margin-left: 6px;
  }
}

.button-clear:hover {
  background-color: #EB5E75;
}

.button-clear:active {
  background-color: #CC5064;
  border-bottom: 0;
  box-shadow:inset 0 2px 0 0 #AB4354;
}

.button-clear[disabled="disabled"] {
  background-color: #F09CA9;
  color: #FCD9DF;
  box-shadow: none;
  text-shadow: none;
}


/*
*   Next
*/

.button-next {
  font-size: 14px;
  padding: 5px 10px;
  margin: $vm-sm 0 0 0;

  span {
    letter-spacing: -2px;
  }

  @include bp(knight) {
    padding: 11px 20px;
  }
}

.button-next {
  background-color: $d-dark-gray;
  box-shadow: 0 2px 0 0 #0D0D0D;
  color: #fff;

  @include bp(knight) {
    position: absolute;
    right: 0;
    top: -64px;
  }
}

.button-next:hover {
  background-color: #2F2F2F;
}

.button-next:active {
  background-color: $d-dark-gray;
  border-bottom: 0;
  box-shadow:inset 0 2px 0 0 #0D0D0D;
}

.button-next[disabled="disabled"] {
  background-color: #333333;
  color: #A8A8A8;
  box-shadow: none;
}

/*
*   Input Search
*/

.input-search {
  width: 100%;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  outline: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  margin-bottom: $vm-sm;

  @include bp(knight) {
    padding: 10px 15px;
    font-size: 16px;
    width: 309px;
    left: 0;
    margin: 0;
    top: 13px;
    float: right;
  }
}

.input-search:focus {
  background-color: #fff;
}
