<html ng-app="radioApp">
<head>
	<title> Shinception Rad.io </title>
	<meta name="viewport" content="width=device-width">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic|Ubuntu:500' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Authored Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller='radioController'>

<div ng-show='view=="login"'>
	<input type="text" placeholder="name">
	<input type="submit" value="login" id='loginSubmit'>
</div>

<div ng-show='view=="radio"'>
	<div class="site-title">
		<h1 class='text-center'>Shinception Rad.io</h1>
	</div>

	<div class='active-shows show-wrapper'>
		<h3> Active Shows:</h3>
		<div class="active-buttons-container">
			<button ng-disabled='!enableAdd()' class='button-add button' type='button' ng-click='pick()'>Add for me</button>
			<button ng-disabled='!enableClear()' class='button-clear button' type='button' ng-click='removeAll()'>Clear</button>
		</div>
		<div class="clear"></div>
		</br>
		<div ng-repeat="show in selected" ng-click="toggleSelect(show)" ng-animate=" 'animate' " class="show-container">
			<img src='{{show.imageUrl}}' class='icon'>
		</div>
	</div>

	<div class='inactive-shows show-wrapper'>
		<h3>Inactive Shows: <span>(Click to Activate)</span></h3>
		<input class="input-md input-search" placeholder="Search for a show" ng-model="searchKey" />
		<div class="clear"></div>
		<div ng-repeat="show in unselected | filter:searchKey" ng-click="toggleSelect(show)" class="show-container">
			<img src='{{show.imageUrl}}' class='icon'>
		</div>
	</div>

	<div class="site-logo">
		<h4>Shinception Rad.io</h4>
	</div>

	<div class="player-interface">
		<div class="toggle-player">
			<span>&#10093;&#10093;</span>
		</div>
		<div class="player-text">
			<h6>Playing Now:</h6>
			<p class="track-title" id='now'>&nbsp;</p>
			<p class="show-title" id='nowShow'>&nbsp;</p>
		</div>
		<div class="player-controls">
			<audio controls autoplay></audio> </br>
			<button ng-disabled='!enableNext()' class='button-next button' type='button' id='next'>Next&nbsp;<span>&#10095;&#10095;</span></button>
		</div>
	</div>
</div>

<!-- jQuery -->
<script src='https://code.jquery.com/jquery-2.1.4.min.js' type='text/javascript'></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<!-- Authored JS -->
<script src="shows.js"></script>
<script src="app.js"></script>
<script src="main.js"></script>

</body>
</html>